annotated-types
anyio
click
colorama
dnspython
exceptiongroup
fastapi
h1
idna
Jinja2
jsonify
MarkupSafe
pydantic
pydantic_core
pymongo
python-dotenv
python-multipart
sniffio
starlette
typing_extensions
uvicorn
